body{
  color: #222;
}

main{
  padding: 10px;
  margin: 0 auto;
  max-width: 85%;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

header a{
  text-decoration: none;
  color: inherit;
}

header a.logo{
  font-weight: 600;
}

header nav{
  display: flex;
  gap: 40px;
}

.image{
  background:url("https://images.unsplash.com/photo-1617575521317-d2974f3b56d2?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 100%;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  height: 740px;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
}
