body{
  color: #222;
  font-family: "Sen", sans-serif;
}

main{
  padding: 10px;
  margin: 0 auto;
  max-width: 85%;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

header a{
  text-decoration: none;
  color: inherit;
  padding: 10px
}

header a:hover{
  padding: 10px;
  box-shadow: 5px 5px 5px #6b5a08;
}

header a.logo{
  font-weight: 600;
}

header nav{
  display: flex;
  gap: 40px;
}

.image{
  background:url("https://images.unsplash.com/photo-1617575521317-d2974f3b56d2?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 100%;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  height: 740px;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
}

form.login, form.signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
}

input{
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 52px;
  font-size: 20px;;
}

div.login, div.signup{
  margin: 0 auto;
  background-color: #F4CE14;
  width: 50%;
  padding: 1rem;
  border-radius: 52px;
  box-shadow: 10px 5px 5px #6b5a08;
}

.white-title{
  text-align: center;
  color: #5E1675;
  text-shadow: 2px 2px #a37ab0;
  font-weight: 900;
  font-size: 40px;
  margin-top: 0.5rem;
}

form button {
  font-size: 20px;
  font-weight: 600;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 5px 5px 5px #6b5a08;
  padding: 10px;
  border-radius: 52px;
  width: 120px;
  align-self: center;
  border-style: none;
}

form button:hover{
  background-color: #5E1675;
  color: #fff;
  border-color: #3c0f4b;
  box-shadow: 5px 5px 5px #181402;
}
